@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans&display=swap');


body{
  overflow-x: hidden;
  
  background-color: #1B1819;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.videoContainer{

}
#desc{
  margin-top: -.2vh;
  font-size: x-small;
}
.videoContainer iframe{
  padding-top: 1vh;
  width: 20vw;
  height: 20vh;
}
iframe{
  position: relative;
  z-index: 100;
}

a{
  z-index: 100;
}
#spotify-embed{
  position: relative;
  z-index: 100;
  width: 20vw;
  height:49.5vh;
  padding-left:0.2vw ;
}

.App {
  display: flex;
  flex-direction: column;
width: 100vw;
height: 100vh;

}
.each-fade  {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
 height: 10vh;
 width: 50vw;
}
#backArrow{
  width: 1.5vw; 
  margin-top: -5vh;
  background-color: transparent;
  outline: transparent;
  box-shadow: transparent;
  border-color: transparent;
  cursor: pointer;
}
#frontArrow{
  width: 1.5vw;
  background-color: transparent;
  outline: transparent;
  box-shadow: transparent;
  border-color: transparent;
  cursor: pointer;
}
.event-name{
  font-size: 3.2em;
  margin-bottom: -.3vh;
}
#selector{
  margin-top: -3vh;
  display: flex;
  flex-direction: column;
  width:50vw;
  height: 60vh;
}
#poc{
  
  width: 20vw;
  height: 40vh;
  margin-left: -22vw;
  margin-top: -9vw;
}
#ssx{
  width: 25vw;
  height: 70vh;
  padding-left: 5vw;
}
.poster img{
  padding-top: 3vh;
  z-index:10;

}
.artist-info{
  padding-top: 5vh;

}
.artist-info a{
  position: relative;
  padding-left: .5vw;
  font-size: 1em;
  color: #CE4346;
  z-index: 10;
}
.poster a{
  position: absolute;
  padding-left: .5vw;
  font-size: 1em;
  color: #CE4346;
  z-index: 100;
}
.artist-info img{
  position: relative;
  height:49.5vh;
  z-index: -100;
  padding-top: 2vh;

}
.poster{
  display: flex;
  flex-direction: row;
  width: 50vw;
  padding-bottom: 7vh;
  text-align: justify;
  text-justify: inter-word;

}
.each-slide {
  display: block;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 50vh;

}

.slide-container{  display: flex;
  width: 50vw; 
  display: flex;
  flex-direction: column;

}
.each-slide  img {

}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}
.event{
  position: relative;
  flex-direction: column;
  width: 100vw;
   height: 10vh;
margin-left: 20vw;
overflow: hidden;
}

.heading-background{

  opacity: .79;
  font-size: 1vw;
  /* left:-0.2em; */
  text-align: center;
  margin-top: 1vh;
  z-index: 100;
 color: #CE4346;
}


#fix {
  z-index: -100;
  padding-right: 25vw ;
  width: 25vw;
}
.header-title img{ 
position: fixed;
width: 10vw; 
z-index: 100;


}
.header-title h1{ 
z-index: 100;


}


nav{
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1em;
  opacity: .9;
  z-index: 100;
}
nav li{
  display: inline-block;
  cursor: pointer;
color: red;
}
nav li .link{
  text-decoration: none;
  color: white;

  padding:.01vw;
  margin-right: 2vw;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
li .link:hover{
  opacity: 1;
  color:gray;
}
.active{
  
  opacity: 1;
}



.About{  
  margin-top: 104vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left:20vw;
  padding-bottom: 5vh;
}

#about-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 5em;
  text-align: left;
  margin-top: -6vh;
}

.about-image-text{ 


}
.about-image-text p{

width: 50vw;
text-align: justify;
font-size: 1em;
padding-bottom: 10vh;

}

#imgone{
  margin-top: 20vh;
  margin-left: -20vw;
  opacity: .6;
  width:  60vw;

}
#imgtwo {
  display: none;
 
  width: 20em;
  
}
.work{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
margin-left: 20vw;
padding-bottom: 50vh;
}
.work .heading{
  font-family: 'Montserrat', sans-serif;
  font-size: 5em;
  text-align: left;
}
.work .work-content{
  display: flex;
  flex-direction: row;
}
#bandcamp{
  margin-left: 0vw;
  width: 25vw;
  height: 20vh;
}
.project img{
width: 10em;  
height: 10em;
}
.project {
font-size: .5em;
margin-left: 3vw;
text-align: center;
}

.headingVideo{
  margin-top: 10vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 5em;
  text-align: left;
}
#statement{
  width: 15vw;
  text-align: justify;
  text-justify: inter-word;
}
.contact{
  margin-top: 75vh;
  margin-left: .1vw;
  padding-right: 2vw;
}
.contact h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 5em;
  text-align: left;
  margin: -.2vh;
}
#social{
  list-style-type: none;
  color: #CE4346;
}
#bold{
  font-weight: bold;
  color: #CE4346;
}
#social a{
  list-style-type: none;
  color: #CE4346;
}
.contact .email{
  color:white;
  background-color: #CE4346;
  font-size: 2em;
  margin-left: 1vw;
margin-top: 3vh;
}

.liveset-container iframe{
  width: 60vw;
  height: 60vh;
}

/* SMARTPHONES PORTRAIT */
@media only screen and (min-device-width: 320px) and (max-device-width : 480px){

  body{
    font-size: 6px;
  }
  header h1{ 


}
.header-title {
  height: 100vh;
  opacity: .75;
  
  }
#about-text{
  margin-top: 0vh;
  margin-left: 0vw;
  font-size: 1em;
}
.about-image-text p{

  width: 50vw;
  font-size: 1.5em;
  
  }
nav{

font-size: small;
margin-top: 15vh;
margin-left: -10vw;
height: 5vh;
opacity: .8;
width: 1vw;
background-color: #121212;

}
  .videoContainer{
    display: flex;
    flex-direction: column;
  }
nav li .link{
  
  padding: 1vw;
  opacity: 1;
  color: white;
}
.heading-background{


}

.About{

  align-items: flex-start;
  margin-left: 20vw;
      top: 10em;
      color: white;
      z-index: 1;
      height: 100vh;
      padding-bottom: 60vh;

}

#imgtwo{

}
#imgone{
  margin-left: -20vw;
  width:50em;
  z-index: 1;
}

#bandcamp{
  width: 70vw;
}
.work{
  align-items: flex-start;
  left: 0;
  margin-right: 10vw;
  padding-bottom: 140vh;
}
.work .project{
  margin-top: 3vh;
  display: grid;
  grid-template-rows: 1fr;
  font-size: .6em;
}
.work iframe{
  margin-top: 3vh;
  margin-left: -4vw;
  width: 70vw;
  height: 20vh;
  opacity: .9;
}
.project img{
width: 20em;  
height: 20em;
}
.contact{
  align-items: flex-end;
  left: 0;
  margin-left: 1vw;
  margin-top: 10vh;
}


}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {


body{
  }


nav{
  display: none;
}

.About{
  align-items: flex-start;
      top: 10em;
      color: white;
      z-index: 1;
      height: 100vh;
      padding-bottom: 60vh;
}
#bandcamp{
  width: 40vw;
}
 
.videoContainer{
  display: flex;
  flex-direction: column;
}

.work{
  align-items: flex-start;
  left: 0;
  margin-right: 10vw;
  padding-bottom: 80vh;
}
.work .project{
  margin-top: 3vh;
  display: grid;
  grid-template-rows: 1fr;
  font-size: .6em;
}
.work iframe{
  margin-top: 3vh;
  margin-left: -4vw;
  width: 70vw;
  height: 40vh;
  opacity: .9;
}
.project img{
width: 20em;  
height: 20em;
}
.contact{
display: none;
}

.contact h1{
  font-size: 4em;
}
.contact .email{
  margin-left: 1vh;
  font-size: 3.5em;
}

}

/* Large screens ----------- */
