@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans&display=swap');


body{
  overflow-x: hidden;
  
  background-color: #1B1819;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.videoContainer{

}
#desc{
  margin-top: -.2vh;
  font-size: x-small;
}
.videoContainer iframe{
  padding-top: 1vh;
  width: 20vw;
  height: 20vh;
}
iframe{
  position: relative;
  z-index: 100;
}

a{
  z-index: 100;
}
#spotify-embed{
  position: relative;
  z-index: 100;
  width: 20vw;
  height:49.5vh;
  padding-left:0.2vw ;
}

.App {
  display: flex;
  flex-direction: column;
width: 100vw;
height: 100vh;

}
.each-fade  {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
 height: 10vh;
 width: 50vw;
}
#backArrow{
  width: 1.5vw; 
  margin-top: -5vh;
  background-color: transparent;
  outline: transparent;
  box-shadow: transparent;
  border-color: transparent;
  cursor: pointer;
}
#frontArrow{
  width: 1.5vw;
  background-color: transparent;
  outline: transparent;
  box-shadow: transparent;
  border-color: transparent;
  cursor: pointer;
}
.event-name{
  font-size: 3.2em;
  margin-bottom: -.3vh;
}
#selector{
  margin-top: -3vh;
  display: flex;
  flex-direction: column;
  width:50vw;
  height: 60vh;
}
#poc{
  z-index: -1;
  width: 20vw;
  height: 30vh;
  margin-left: -20vw;
  margin-top: -1vw;
}
#ssx{
  width: 25vw;
  height: 70vh;
  padding-left: 5vw;
}
.poster img{
  padding-top: 3vh;
  z-index:10;

}
.artist-info{
  padding-top: 5vh;

}
.artist-info a{
  position: relative;
  padding-left: .5vw;
  font-size: 1em;
  color: #CE4346;
  z-index: 10;
}
.poster a{
  position: absolute;
  padding-left: .5vw;
  font-size: 1em;
  color: #CE4346;
  z-index: 100;
}
.artist-info img{
  position: relative;
  height:49.5vh;
  z-index: -100;
  padding-top: 2vh;

}
.poster{
  display: flex;
  flex-direction: row;
  width: 50vw;
  padding-bottom: 7vh;
  text-align: justify;
  text-justify: inter-word;

}
.each-slide {
  display: block;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 50vh;

}

.slide-container{  display: flex;
  width: 50vw; 
  display: flex;
  flex-direction: column;

}
.each-slide  img {

}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}
.event{
  position: relative;
  flex-direction: column;
  width: 100vw;
   height: 10vh;
margin-left: 26vw;
overflow: hidden;
}

.heading-background{

  opacity: .79;
  font-size: 1vw;
  /* left:-0.2em; */
  text-align: center;
  margin-top: 1vh;
  z-index: 100;
 color: #CE4346;
}


#fix {
  z-index: -100;
  padding-right: 0vw ;
  width: 50vw;
  height: 70vh;
}
.header-title img{ 
position: fixed;
width: 10vw; 
z-index: 100;


}
.header-title h1{ 
z-index: 100;


}


nav{
  position: fixed;
  top: 0;
  left: 0;
  margin-left: -2vw;
  font-size: 1em;
  opacity: .9;
  z-index: 100;
}
nav li{
  display: inline-block;
  cursor: pointer;
color: red;
}
nav li .link{
  text-decoration: none;
  color: white;
padding-left: -2vw;

padding-right: 1vw;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
li .link:hover{
  opacity: 1;
  color:gray;
}
.active{
  
  opacity: 1;
}



.About{  
  margin-top: 104vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left:20vw;
  padding-bottom: 5vh;
}

#about-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 5em;
  text-align: left;
  margin-top: -6vh;
}

.about-image-text p{

width: 50vw;
text-align: justify;
font-size: 1em;
padding-bottom: 10vh;

}

#imgone{
  margin-top: 20vh;
  margin-left: -20vw;
  opacity: .6;
  width:  60vw;

}
#imgtwo {
  display: none;
 
  width: 20em;
  
}
.work{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
margin-left: 20vw;
padding-bottom: 50vh;
}
.work .heading{
  font-family: 'Montserrat', sans-serif;
  font-size: 5em;
  text-align: left;
}
.work .work-content{
  display: flex;
  flex-direction: row;
}
#bandcamp{
  margin-left: 0vw;
  width: 25vw;
  height: 20vh;
}
.project img{
width: 10em;  
height: 10em;
}
.project {
font-size: .5em;
margin-left: 3vw;
text-align: center;
}

.headingVideo{
  margin-top: 10vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 5em;
  text-align: left;
}
#statement{
  width: 15vw;
  text-align: justify;
  text-justify: inter-word;
}
.contact{
  margin-top: 100vh;
  margin-left: .1vw;
  padding-right: 2vw;
}
.contact h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 5em;
  text-align: left;
  margin: -.2vh;
}
#social{
  list-style-type: none;
  color: #CE4346;
}
#bold{
  font-weight: bold;
  color: #CE4346;
}
#social a{
  list-style-type: none;
  color: #CE4346;
}
.contact .email{
  color:white;
  background-color: #CE4346;
  font-size: 2em;
  margin-left: 1vw;
margin-top: 3vh;
}

.liveset-container iframe{
  width: 60vw;
  height: 60vh;
}

/* SMARTPHONES PORTRAIT */
@media only screen and (min-device-width: 320px) and (max-device-width : 480px){
  .artist-info img{
    position: relative;
    height:19.5vh;
    z-index: -100;
    padding-top: 1vh;
  
  }
.artist-info{
  margin-top: -25vh;
}

.artist-info img{

}
  .poster{
    display: flex;
    flex-direction: row;
    width: 10vw;
    
    padding-bottom: 7vh;
    text-align: justify;
    text-justify: inter-word;
  
  }
  #mbpad{
    padding: 10vw;
  }
  #poc{
    margin-left: 0vw;
  padding-top: 16vw;
    width: 70vw;
    height: 35vh;
    padding-bottom: 30vh;
    

    margin-top: -9vw;
  }
  #sauce #selector{
    width: 70vw;
  }

  #statement{
    width: 50vw;
    text-align: justify;
    text-justify: inter-word;
  }
  .contact{
    margin-top: 90vh;
    margin-left: .1vw;
    padding-right: 2vw;
  }
  .contact h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 5em;
    text-align: left;
    margin: -.2vh;
  }

  .header-title h1{ 
    z-index: 100;
    display: none;
    
    }

  body{
    font-size: .5em;
  }
  #spotify-embed{
    position: relative;
    z-index: 100;
    width: 71vw;
    height:29.5vh;
    margin-left:-1vw ;
    padding-top:  2vh;
  }
  #ssx{
    width: 18vw;
    height: 18vh;
    padding-left: 52vw;
  margin-top: 44vh;
  }

  .videoContainer iframe{
    padding-top: 1vh;
    width: 70vw;
    height: 20vh;
  }
  nav{
    margin-left: 0;
    width: 5vw;
    position: fixed;
  }
  .header-title { 
    position: fixed;
    width: 10vw; 
    z-index: 100;
    
    
    }
  .About{
    width: 75vw;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left:20vw;
    z-index: 100;
  }
  .about-image-text p{

    width: 70vw;
    text-align: justify;
    font-size: 1em;
    padding-bottom: 10vh;
  }
  .event{
    position: relative;
    flex-direction: column;
    width: 20vw;
     height: 100vh;
  margin-left: 30vw;
  overflow: hidden;

  }
  .each-fade {
    position: absolute;
    margin-top: -7vh;
   height: 106vh;
   width: 115vw;
   overflow: hidden;
  }

  .each-fade img {
   width: 20vw;
  }
  .event-name{
    font-size: 2.2em;
    margin-bottom: -.3vh;
  }
  .each-slide img{
    display: block;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 40vh;
    margin-bottom: 5vh;
  
  }
  .each-slide {
    display: block;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 10vh;
  
  }
  .videoContainer{
  display: flex;
  flex-direction: column;
}
  #fix {
    z-index: -100;
    margin-top: 20vw ;
    width: 70vw;
    height: 30vh;
  }
  .heading-background{

    opacity: .79;
    font-size: 1vw;
    /* left:-0.2em; */
    text-align: center;
    margin-top: 1vh;
    width: 20 vw;
    z-index: 100;
   color: #CE4346;
  }
  .each-fade  img {

   width:500vw;
  }
  #backArrow{
    width: 6vw; 
    background-color: transparent;
    outline: transparent;
    box-shadow: transparent;
    border-color: transparent;
    cursor: pointer;
  }
  #frontArrow{
    width: 6vw;
    background-color: transparent;
    outline: transparent;
    box-shadow: transparent;
    border-color: transparent;
    cursor: pointer;
  }
  #bandcamp{
  margin-left: 0vw;
  width: 10vw;
  height: 10vh;

}
.work iframe{
  margin-top: 33vh;
  margin-left: 0vw;
  width: 70vw;
  height: 10vh;
  opacity: .9;
}

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {


body{
  }


nav{
  display: none;
}

.About{
  align-items: flex-start;
      top: 10em;
      color: white;
      z-index: 1;
      height: 100vh;
      padding-bottom: 60vh;
}
#bandcamp{
  width: 40vw;
}
 
.videoContainer{
  display: flex;
  flex-direction: column;
}

.work{
  align-items: flex-start;
  left: 0;
  margin-right: 10vw;
  padding-bottom: 80vh;
}
.work .project{
  margin-top: 3vh;
  display: grid;
  grid-template-rows: 1fr;
  font-size: .6em;
}
.work iframe{
  margin-top: 3vh;
  margin-left: -4vw;
  width: 70vw;
  height: 40vh;
  opacity: .9;
}
.project img{
width: 20em;  
height: 20em;
}
.contact{
display: none;
}

.contact h1{
  font-size: 4em;
}
.contact .email{
  margin-left: 1vh;
  font-size: 3.5em;
}

}

/* Large screens ----------- */
